
.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    margin: 10px 0;
    gap: 10px;
}

.logoimage{
    width: 80px;
}

.intro p{
    font-size: 32px;
}

.intro span{
    font-size: 16px;
}

.intro{
    & .purple{
        color: var(--super-admin);
    }
    & .amber{
        color: var(--in-progress);
    }
}